.heading__text_container {
  padding: 20px;
  display: flex;
}
.heading__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;  
}
.heading__subheading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
.heading__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading__button_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #EDEDED;
}
.heading__buttons {
  display: flex;
  /* flex: 1 */
}
