.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header__link {
  color: #333;
  text-decoration: none;
  padding: 1rem;
  font-family: 'Poppins';
}

.header__logo {
  width: 140px;
  height: 56px;
}

.header__logout_container {
  display: flex;
}
.header__search_bar {
  border-color: #A5A5A5;
  width: 500px; 
}
.header__avatar {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__avatar_heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}